<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- <h1>
    D Labs Weather
  </h1> -->
  <img style="border-radius: 50%" width="200" src="assets/cloud_fill.png">

<div class="seperator"></div>

<div class="switch-container">
  <button id="button-temp" class="active" (click)="changeSwitch(0)">Current Temp</button>
  <button id="button-5day" (click)="changeSwitch(1)">5 Day Forecast</button>
</div>

<div class="seperator"></div>

<div class="tint" *ngIf="isLoading">
    <img class="loading-img" src="assets/loading.gif">
</div>

<div *ngIf="switch==0">

  <div id="weather-container">
    <h2>
        &nbsp;{{currentLocation.address}}&nbsp;
    </h2>
    <h4 style="color: #00c0b0">
      Current Temperature
    </h4>
    <h1>
      {{ currentTemp }} &deg;{{ degreesType }}
    </h1>
    <br />
    <button id="button-F" (click)="switchDegrees('F')">&deg;F</button>
    <button id="button-C" (click)="switchDegrees('C')">&deg;C</button>
    <button id="button-K" (click)="switchDegrees('K')">&deg;K</button>
  </div>
</div>


<div *ngIf="switch==1">
  <p>5 day </p>
</div>

<div class="note">
  <p>Author ~ Hew Hamilton<p>
</div>

</div>


