<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    D Labs Weather
  </h1>
  <img width="300" alt="Angular Logo" src="assets/thermo.png">
</div>

<div class="seperator"></div>
<button (click)="getLocation()"> Get Location</button>
<button (click)="getWeather()"> Test Weather API</button>



<div style="text-align:center">
  <h2>
      &nbsp;{{currentLocation.address}}&nbsp;
  </h2>
  <h4>
    Current Temperature
  </h4>
  <h1>
    {{ currentTemp }} &deg;{{ degreesType }}
  </h1>
  <br />
  <button id="button-F" (click)="switchDegrees('F')">&deg;F</button>
  <button id="button-C" (click)="switchDegrees('C')">&deg;C</button>
  <button id="button-K" (click)="switchDegrees('K')">&deg;K</button>
</div>
<div id="demo"></div>


